<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BIenvevido</title>
  </head>
  <body>

    <p>
      Hi!Gaby
    </p>

    <h1><strong>Bienvenidos</strong></h1>
    <ul>
      <li>Iniciar</li>
      <li>Finalizar</li>
    </ul>

    {{posts}}
    {{posts}}
    {{posts}}

    {% for post in posts %}

      <div >
         <p>
           published:{{post.published_date}}
         </p>
         <h1><a href="">{{post.title}}</a></h1>
         <p>
           {{post.text|linebreaksbr}}
         </p>

      </div>

      {% endfor %}



  </body>
</html>
